/build
/Debug
/Release
/.vs
/.vscode
/NetCore/.vs
/NetCore/build
/NetCore/Debug
/NetCore/Release
**/*.csproj.user

/Pathing_native/Detour/.vs
/Pathing_native/Detour/out
/Pathing_native/Detour/build
/Pathing_native/Detour/.build
/Pathing_native/Detour/.build_debug
/NetCore/.idea
/.idea
